[Unit]
Description=My Script Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/home/dhanraj/Desktop/testing/the_spider_shell_reshell/pre-check.sh
ExecStart=/home/dhanraj/Desktop/testing/the_spider_shell_reshell/run_me.sh
ExecStartPost=/home/dhanraj/Desktop/testing/the_spider_shell_reshell/post-check.sh
WorkingDirectory=/home
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=default.target
